.each-card{
    display: flex;
    /* border: 1px red solid; */
    /* justify-content: center; */
    align-items: center;
    height: 270px;
    width: 800px;
    padding: 10px;
    padding-left: 25px;
    border-bottom: #EBEBEB 2px solid;
}


.each-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
}


.biz-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    color: #6D7072;
}

.biz-card-right-side{
    margin-left: 20px;
}

.biz-card-name{
    font-weight: #2D2E2F;
    font-size: 30px;
}

.biz-card-category{
    margin-right: 5px;
    background-color: #E3E3E3;
    padding: 5px;
}

.biz-card-category:hover{
    transition-duration: 0.3s;
    background-color: #b6b3b3;
}

.review-section{
    display: flex;
    margin: 10px 0px;
}