.bizlist-page{
    box-sizing: border-box;
    margin: 0% 20%;
}

.all-results-text{
    margin: 10px;
    font-weight: 700;
    font-size: large;
}

#loader{
   width: 100vw;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center; 
}