#splash-main {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    max-width: 100vw;
    width:100vw;
    height: 80vh;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    justify-content: center;
    align-items: center;
}

#splash-footer {
    box-sizing: border-box;
    width:100vw;
    min-height: 6vw;
    background-color: rgba(215, 28, 28, 0.9);
    color: white;
}
