@font-face {
    font-family: 'gothicA1-semibold';
    src: url('../../fonts/gothicA1/GothicA1-SemiBold.ttf');
}

@font-face {
  font-family: 'Kodchasan-Light';
  src: url('../../fonts/Kodchasan/Kodchasan-Light.ttf');
}

#splash-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    justify-content: center;
    align-items: center;
}

#splash-footer {
    box-sizing: border-box;
    min-height: max-content;
    width: 100%;
    height: 15vh;
    background-color: rgba(215, 28, 28, 0.9);
    color: white;
    border-top: 5px solid white;
    font-family: 'Kodchasan-Light';
}

#splash-header {
    font-family: 'gothicA1-semibold';
    text-shadow: 2px 2px #ff0000;
    font-size: 80px;
    color: rgb(250, 250, 250)
}

#this-id-doesnt-exist{
    background-color: rgba(224,7,7,1);
    transition: .5s;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    animation: blink 2.5s linear infinite alternate 10s;
}

@keyframes blink {
    100% {
      background-color:rgba(224,7,7,1);
    }
    30% {
      background-color:rgb(255, 14, 14);
    }
    100% {
      background-color:rgba(224,7,7,1);
    }
  }

#this-id-doesnt-exist:hover{
    background-color:rgb(255, 14, 14);
}

h5{
  font-size: medium;
}
