#contact-info-container{
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding: 16px!important;
    width:fit-content;
    margin-left: 25px;
    position: sticky;
    top: 10px;
}

#website-container{
    border-bottom:solid rgb(210, 210, 210) 1px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

#phone-container{
    /* margin: 3px; */
    border-bottom:solid rgb(210, 210, 210) 1px;
    padding-left: 5px;
}

#arrow-right{
    margin-left: 10px;
    margin-top: 5px;
}

#google-maps-outer-container{
    height: 25em;
    width: 450px;
    border: 1px solid red;
}
