#contact-info-container{
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 15px;
    border: 1px grey solid;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#website-container{
    border-bottom:solid rgb(210, 210, 210) 1px
}

#phone-container{
    margin: 3px;
    border-bottom:solid rgb(210, 210, 210) 1px
}
