#result-details{
    padding: 2px;
    display: flex;
    flex-direction: column;
}

#result-image{
    height: 60px;
    width: 65px;    
}

#random-image{
    height: 60px;
    width: 65px;
    object-fit: cover;
}

#result-details > *{
    padding: 2px;
    display: flex;
    flex-direction: column;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#result-details > *:visited{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#individual-result{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: rgb(30, 30, 30);
    text-decoration: none;
    /* border-top: solid 1px rgb(240, 240, 240); */
    border-bottom: solid 1px rgb(240, 240, 240);
    border-radius: 5px;
}

#individual-result > *{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#individual-result:hover{
    background-color: rgb(240, 240, 240);
}

#business-name{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#business-address{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#result-navlink{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

