#result-details{
    padding: 2px;
    display: flex;
    flex-direction: column;
}

#result-image{
    height: 60px;
    width: 60px;    
}

#default-image{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

#result-details > *{
    padding: 2px;
    display: flex;
    flex-direction: column;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#result-details > *:visited{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#individual-result{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: rgb(30, 30, 30);
    text-decoration: none;
    /* border-top: solid 1px rgb(240, 240, 240); */
    border-bottom: solid 1px rgb(240, 240, 240);
    border-radius: 5px;
    transition: 100ms;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

#individual-result > *{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#individual-result:hover{
    background-color: rgb(240, 240, 240);
    border: 1px solid  black;
    transform: scale(1.01);
}

#search-result-name{
    color: rgb(30, 30, 30);
    font-size: medium;
}

#search-result-specialties{
    font-size:small;
}

#search-result-address{
    color: rgb(30, 30, 30);
    font-size: small;
    text-decoration: none;
}

#result-navlink{
    color: rgb(30, 30, 30);
    text-decoration: none;
}

#see-all-results{
    display: flex;
    justify-content: center;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
    text-decoration: none;
    background-color: rgba(224,7,7,1);
    border-bottom: solid 1px rgb(240, 240, 240);
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

#see-all-results:hover{
    background-color: rgb(240, 240, 240);
    background-color:rgb(255, 14, 14);
}
