#magnifying-glass{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(224,7,7,1);
    transition: .5s;
    cursor: pointer;
    color: white;
    border-radius: 0px 4px 4px 0px;
}

#magnifying-glass:hover{
    background-color:rgb(255, 14, 14);
}

#search-bar-container{
    width: 500px;
}

#search-bar{
    border: none;
}

#search-form-container{
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2);
    border-radius: 4px 0px 0px 4px;
    
}

#search-form{
    border: none;
    background-color: white;
    border-radius: 5px;
}

#search-bar:focus{
    outline: none;
}

#drop-down{
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    width: 30.6%;
}
