@font-face {
    font-family: 'Arimo-Bold';
    src: url('../../fonts/arimo/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'GothicA1-Medium';
    src: url('../../fonts/gothicA1/GothicA1-Medium.ttf');
}

@font-face {
    font-family: 'Kodchasan-Medium';
    src: url('../../fonts/Kodchasan/Kodchasan-Medium.ttf');
}

#nav{
    width: 100%;
    text-decoration: none;
    font-family: 'GothicA1-Medium';
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(30, 30, 30);
    box-sizing: border-box;
}

#nav:visited{
    text-decoration: none;
}

#see-all-businesses{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    transition: .1s;
    cursor: pointer;
}

#see-all-businesses:hover{
    text-decoration: none;
    background-color: rgb(240, 240, 240);
}

#see-all-businesses:visited{
    text-decoration: none;
    color: rgb(30, 30, 30)
}

#see-all-businesses-navlink{
    text-decoration: none;
    color: rgb(30, 30, 30)
}

#see-all-businesses-navlink:visited{
    text-decoration: none;
    color: rgb(30, 30, 30)
}

#right-side-buttons{
    display: flex;
    align-items: center;
}